nodeflow
[{"id":"19f29bc.3ee3364","type":"comment","z":"b900f919.0a55c8","name":"People Counter","info":"","x":116.85712814331055,"y":85.99999046325684,"wires":[]},{"id":"a78f5694.66ee58","type":"server-events","z":"b900f919.0a55c8","name":"","server":"63c9164f.290848","x":91.28570175170898,"y":129.1428484916687,"wires":[["39f6e837.4d3ed8"]]},{"id":"39f6e837.4d3ed8","type":"switch","z":"b900f919.0a55c8","name":"","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"input_boolean.resetcounter","vt":"str"},{"t":"eq","v":"binary_sensor.pir_sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":226.35712814331055,"y":129.99999046325684,"wires":[["191633b0.bdc3cc"],["be054631.a55d28"]]},{"id":"be054631.a55d28","type":"switch","z":"b900f919.0a55c8","name":"","property":"payload.event.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":357.85712814331055,"y":127.99999046325684,"wires":[["79677f81.e6d13"]]},{"id":"feb85c3a.24983","type":"function","z":"b900f919.0a55c8","name":"","func":"curcount = parseInt(msg.payload);\ncount = parseInt(1);\nmsg.payload = curcount + count;\nreturn msg;","outputs":1,"noerr":0,"x":654.8571281433105,"y":127.99999046325684,"wires":[["d1acacc4.bc44"]]},{"id":"d1acacc4.bc44","type":"file","z":"b900f919.0a55c8","name":"","filename":"hauntcount","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":796.8571281433105,"y":126.99999046325684,"wires":[["7a9802f2.373fac"]]},{"id":"7bfcb8d1.8df098","type":"inject","z":"b900f919.0a55c8","name":"SetTo0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580.5714263916016,"y":27.999992847442627,"wires":[["43bf1419.dd254c"]]},{"id":"79677f81.e6d13","type":"file in","z":"b900f919.0a55c8","name":"","filename":"hauntcount","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":506.85712814331055,"y":127.99999046325684,"wires":[["feb85c3a.24983"]]},{"id":"43bf1419.dd254c","type":"function","z":"b900f919.0a55c8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":741.8571281433105,"y":69.99999046325684,"wires":[["2a0ccea1.606932"]]},{"id":"2a0ccea1.606932","type":"file","z":"b900f919.0a55c8","name":"","filename":"hauntcount","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880.8571281433105,"y":70.99999046325684,"wires":[["7a9802f2.373fac"]]},{"id":"7a9802f2.373fac","type":"mqtt out","z":"b900f919.0a55c8","name":"Counter","topic":"haunt/peoplecount/count","qos":"","retain":"","broker":"66afeb2b.e01b34","x":1105.285701751709,"y":126.1428484916687,"wires":[]},{"id":"654ed61b.17f658","type":"inject","z":"b900f919.0a55c8","name":"ManTest","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":346.85712814331055,"y":169.99999046325684,"wires":[["79677f81.e6d13"]]},{"id":"66eb3d83.b5d024","type":"inject","z":"b900f919.0a55c8","name":"RebootReset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":737.8571281433105,"y":179.99999046325684,"wires":[["357e989a.0d0918"]]},{"id":"357e989a.0d0918","type":"file in","z":"b900f919.0a55c8","name":"","filename":"hauntcount","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":908.8571281433105,"y":180.99999046325684,"wires":[["7a9802f2.373fac"]]},{"id":"191633b0.bdc3cc","type":"switch","z":"b900f919.0a55c8","name":"","property":"payload.event.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":361.85712814331055,"y":84.99999046325684,"wires":[["4c6a5228.d8b47c"]]},{"id":"4c6a5228.d8b47c","type":"api-call-service","z":"b900f919.0a55c8","name":"ResetCounter","server":"63c9164f.290848","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.resetcounter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":553.8571281433105,"y":70.99999046325684,"wires":[["43bf1419.dd254c"]]},{"id":"63c9164f.290848","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"66afeb2b.e01b34","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
